/* ------------------------------------------------------------------
    Template All Variables Defined - Value Change with Your's Need
 -------------------------------------------------------------------- */

// COLORS
$color-primary: #005c46;
$color-secondary: #039f7b;
$color-grey: #6b6b6b;
$color-dark: #3f3f3f;
$color-light: rgba(255, 255, 255, 0.8);
$color-white: #ffffff;
$color-black: #000000;

// GRADIENT COLORS
$gradient-1: linear-gradient(180deg, #19a8e2 0%, #3b3ff6 100%);

// BOX SHADOWS
$box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$soft-shadow-1: 6px 6px 12px #16191c, -6px -6px 12px #20252a;
$soft-shadow-2: inset 5px 5px 5px #171a1d, inset -5px -5px 5px #1f2429;
